*.iml
.gradle/
.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
build/
app/build/

# Generated protobuf
app/build/generated/

# Android Studio
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
release/
proguard/
